svg {
    zoom: 1;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    transform-origin: 0 0;
}

.trails-overlay {
    -webkit-print-color-adjust: exact;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.97);
    display: none;
    z-index: 999;
}

.trails-overlay .trails-overlay-inner-wrapper {
    width: 455px;
    height: 80%;
    margin: auto;
    margin-top: 5%;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-table-container {
    font-family: sans-serif, arial, helvetica;
    width: 890px;
    height: 950px;
    overflow-y: auto;
    overflow-x: hidden;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-table-container .trails-overlay-table {
    font-size: 12px;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-table-container .trails-overlay-table thead {
    position: fixed;
    margin-top: -1px;
    margin-left: -1px;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-table-container .trails-overlay-table thead th {
    text-align: center;
    width: 100px;
    border-right: 1px solid #E5E5E5;
    padding: 5px;
    background: #D5D5D5;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-table-container .trails-overlay-table thead th:last-child {
    border: none;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-table-container .trails-overlay-table tbody {
    border-top: 28px solid white;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-table-container .trails-overlay-table tbody tr {
    border-bottom: 1px solid #E5E5E5;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-table-container .trails-overlay-table tbody tr td {
    border-right: 1px solid #E5E5E5;
    height: 50px;
    padding: 5px;
    text-align: center;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-table-container .trails-overlay-table tbody tr td div {
    width: 99.5px;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-table-container .trails-overlay-table tbody tr td img {
    cursor: zoom-in;
    max-width: 100px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-table-container .trails-overlay-table tbody tr td .table-thumbnail {
    max-height: 200px;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-table-container .trails-overlay-table tbody tr td .load-changes {
    cursor: pointer;
    background-color: #EFEFEF;
    color: #555;
    padding: 2px 4px;
    font-size: 90%;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-table-container .trails-overlay-table tbody tr td:last-child {
    border: none;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-table-container .trails-overlay-table tbody tr.highlight {
    background: #ffcdd2;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-tree-container {
    padding: 10px;
    font-family: sans-serif, arial, helvetica;
    float: left;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-tree-container svg {
    width: 765px;
    height: 700px;
    position: fixed;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-tree-container rect {
    fill: #ddd;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-tree-container .axis path,.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-tree-container .axis line {
    fill: none;
    stroke: #fff;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-tree-container .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-tree-container text {
    font-size: 12px;
    font-family: sans-serif, arial, helvetica;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-tree-container circle.tree-node {
    fill: #eeeeee;
    stroke: #bdbdbd;
    stroke-width: 3px;
    cursor: pointer;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-tree-container circle.tree-node.root-node {
    fill: #616161;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-tree-container circle.tree-node.highlight {
    stroke: #ef5350;
    fill: #ffcdd2;
    stroke-width: 5px;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-tree-container circle.tree-node.checkpoint {
    fill: #ffe0b2;
    stroke: #ffa726;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-tree-container circle.tree-node.current {
    fill: #c5e1a5;
    stroke: #8bc34a;
}

.trails-overlay .trails-overlay-inner-wrapper .trails-overlay-tree-container circle.tree-node.dest {
    fill: #e1bee7;
    stroke: #ba68c8;
}

.trails-control-box-container {
    border: 1px solid #E5E5E5;
    max-width: 500px;
    position: absolute;
    background: white;
}

.trails-control-box-container .trails-control-box {
    font-size: 12px;
    font-family: sans-serif, arial, courier;
}

.trails-control-box-container .trails-control-box .trails-title-container {
    background: #E5E5E5;
}

.trails-control-box-container .trails-control-box .trails-title-container p.trails-title {
    margin: 0;
    padding: 3px 5px;
}

.trails-control-box-container .trails-control-box .trails-title-container p.trails-title:active {
    cursor: move;
}

.trails-control-box-container .trails-control-box .trails-controls-container {
    border-bottom: 1px solid #E5E5E5;
}

.trails-control-box-container .trails-control-box .trails-controls-container .trails-controls-dropdown,.trails-control-box-container .trails-control-box .trails-controls-container .trails-controls-dropdown-right {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.trails-control-box-container .trails-control-box .trails-controls-container .trails-controls-dropdown li,.trails-control-box-container .trails-control-box .trails-controls-container .trails-controls-dropdown-right li {
    padding: 4px 7px;
    cursor: pointer;
    display: inline-block;
    border-right: 1px solid #E5E5E5;
}

.trails-control-box-container .trails-control-box .trails-controls-container .trails-controls-dropdown li ul,.trails-control-box-container .trails-control-box .trails-controls-container .trails-controls-dropdown-right li ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 100%;
    left: -1px;
    position: absolute;
    display: none;
    background: white;
    border: 1px solid #e5e5e5;
    border-top: none;
    float: left;
    width: 100px;
    overflow: hidden;
    z-index: 995;
}

.trails-control-box-container .trails-control-box .trails-controls-container .trails-controls-dropdown li ul li,.trails-control-box-container .trails-control-box .trails-controls-container .trails-controls-dropdown-right li ul li {
    padding: 4px 8px;
    cursor: pointer;
    border: none;
    width: 100%;
}

.trails-control-box-container .trails-control-box .trails-controls-container .trails-controls-dropdown li ul li:hover,.trails-control-box-container .trails-control-box .trails-controls-container .trails-controls-dropdown-right li ul li:hover {
    background: #EFEFEF;
}

.trails-control-box-container .trails-control-box .trails-controls-container .trails-controls-dropdown li:hover>ul,.trails-control-box-container .trails-control-box .trails-controls-container .trails-controls-dropdown-right li:hover>ul {
    display: block;
}

.trails-control-box-container .trails-control-box .trails-controls-container .trails-controls-dropdown-right {
    float: right;
}

.trails-control-box-container .trails-control-box .trails-controls-container .trails-controls-dropdown-right li {
    border: none;
    border-left: 1px solid #E5E5E5;
}

.trails-control-box-container .trails-control-box .trails-thumbnails-container {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 777;
}

.trails-control-box-container .trails-control-box .trails-thumbnails-container .trails-thumbnails-container-inner-wrapper {
    width: 3000px;
}

.trails-control-box-container .trails-control-box .trails-thumbnails-container .trails-thumbnails-container-inner-wrapper .trails-thumbnails-gallery img {
    margin: 3px;
    z-index: 888;
    max-height: 200px;
}

.trails-control-box-container .trails-control-box .trails-thumbnails-container .trails-thumbnails-container-inner-wrapper .trails-thumbnails-gallery img.highlight {
    border: 2px solid orange;
}

.trails-control-box-container .trails-control-box .trails-thumbnails-container .trails-thumbnails-container-inner-wrapper .trails-thumbnails-gallery img.multiple {
    box-shadow: 2px 2px 3px #333;
}
